footer {
    color: #fff;
    background-color: #004a99;

}
footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
        
}

footer ul {
    margin-bottom: 32px;
    flex-wrap: wrap;
    justify-content: center;
}

footer li {
    padding: 0 15px;
    margin-bottom: 16px;
}

footer a {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

footer i {
    cursor: pointer;
    font-size: 30px;
}

footer p {
    text-align: center;
}