#logo {
    max-width: 250px;
    max-height: 100px;
}
.navbar {
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar__logo a {
    text-decoration: none;
    color: #333;
  }
  
  .navbar__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .navbar__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    
  }
  
  .navbar__item {
    margin-right: 20px;
  }
  
  .navbar__item a {
    text-decoration: none;
    color: #8B4513;
    transition: color 0.3s ease;
  }

  .navbar__item a:hover {
    color: #6A994E; /* Update with your desired hover color */
    background-color: #707070;
  }
  
  .navbar__toggle {
    display: none;
    cursor: pointer;
  }
  
  .navbar__icon {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin-bottom: 5px;
  }
  /* Monitor - Large Screen */
  @media (max-width: 768px) {
    .navbar__menu {
      display: none;
    }
  
    .navbar__toggle {
      display: block;
    }
  
    .navbar__menu.open {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-height: 500px;
      transition: max-height 0.3s ease-out;
    }
  
    .navbar__item {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    /* .navbar__item a {
      text-decoration: none;
      color: #333;
    } */
  
    .navbar__toggle.open .navbar__icon:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
  
    .navbar__toggle.open .navbar__icon:nth-child(2) {
      opacity: 0;
    }
  
    .navbar__toggle.open .navbar__icon:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }

  /* Tablets - Medium Screen Size */

  @media (min-width: 481px) and (max-width: 768px) {
    .navbar__item {
      padding: 10px;
    }
}
/* Mobile device - small screen */
  @media (max-width: 480px) {
    .navbar__list {
      flex-direction: column;
      align-items: center;
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      
    }

    .navbar__item {
        margin-right: 0;
        margin-bottom: 10px;
      }
}